# Dependencies
node_modules/

# Build
dist/

# Environment
.env

# Logs
logs/
*.log
npm-debug.log*

# Test coverage
coverage/

# Editor directories and files
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS
.DS_Store 